<template>
  <div>
    <b-nav vertical class="w-25">
      <b-nav-item active>Interesting</b-nav-item>
      <b-nav-item>Bountied</b-nav-item>
      <b-nav-item>Hot</b-nav-item>
      <b-nav-item>Week</b-nav-item>
      <b-nav-item>Month</b-nav-item>
    </b-nav>
  </div>
</template>
