<template>
  <div>
    <b-navbar id="navbar" toggleable="lg">
      <nuxt-link to="/">
        <b-navbar-brand>Dr.16 11</b-navbar-brand>
      </nuxt-link>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-form-input
              size="sm"
              class="mr-sm-2"
              placeholder="Search"
            ></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit"
              >Search</b-button
            >
          </b-nav-form>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<style scoped>
#navbar {
  border-radius: 10px;
  background: #edf2fb;
  box-shadow: 5px 5px 10px #b2b6bc, -5px -5px 10px #ffffff;
}
</style>
