body {
  background-color: #edf2fb;
}
code {
  background-color: #e5e5e5;
  padding: 2px;
}
pre code {
  display: block;
  width: 100%;
  padding: 10px;
  max-height: 40vh;
  overflow-y: auto;
}
img {
  width: 100%;
  height: auto;
}
.neu-card {
  border-radius: 15px;
  background: #edf2fb;
  box-shadow: 10px 10px 20px #b2b6bc, -10px -10px 20px #ffffff;
}
