<template>
  <div>
    <div
      v-for="(ques, index) in question"
      :key="index"
      class="neu-card p-5 mt-3 mb-5"
    >
      <h1 class="mb-4">{{ ques.title }}</h1>
      <div v-html="ques.body"></div>
      <hr />
      <!-- <div v-for="(ques, index) in question" :key="index"> -->
        <p>Asked by:</p>
      <b-card
        :img-src="ques.owner.profile_image"
        img-alt="Card image"
        img-left
        class="mb-3 size-100"
      >
        <b-card-text> 
          <p> {{ ques.owner.display_name }} </p>
        </b-card-text>
      </b-card>
      <!-- </div> -->
      <div class="my-3">Comments:</div>
      <div v-for="(comment, index) in quesComments" :key="index">
        <div class="comment my-3 p-2" v-html="comment.body"></div>
      </div>
    </div>
    <h1 class="mb-4">{{ question.answer_count }} Answers...</h1>
    <div v-for="(ans, index) in answers" :key="index">
      <div class="neu-card p-5 mb-5" v-html="ans.body"></div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data: function() {
    return {
      question: {},
      quesComments: [],
      answers: []
    };
  },
  beforeCreate: function() {
    let urlQuestion =
      "https://api.stackexchange.com/2.2/questions/" +
      this.$route.params.id +
      "?order=desc&sort=activity&site=stackoverflow&filter=withbody";
    let urlAnswer =
      "https://api.stackexchange.com/2.2/questions/" +
      this.$route.params.id +
      "/answers?order=desc&sort=activity&site=stackoverflow&filter=withbody";
    let urlQuesComments =
      "https://api.stackexchange.com/2.2/questions/" +
      this.$route.params.id +
      "/comments?order=asc&sort=creation&site=stackoverflow&filter=withbody";
    let temp = this;
    axios
      .get(urlAnswer)
      .then(function(response) {
        temp.answers = response.data.items;
      })
      .catch(function(err) {
        console.log(err);
      });
    axios
      .get(urlQuestion)
      .then(function(response) {
        temp.question = response.data.items;
        console.log(temp.question);
      })
      .catch(function(err) {
        console.log(err);
      });
    axios
      .get(urlQuesComments)
      .then(function(response) {
        temp.quesComments = response.data.items;
      })
      .catch(function(err) {
        console.log(err);
      });
  }
};
</script>

<style scoped>
.comment {
  border-bottom: 1px solid #abc4ff;
  border-top: 1px solid #abc4ff;
}
.size-100 {
  width: 100px;
  height: 100px;
}
</style>
