<template>
  <div>
    <div class="d-flex justify-content-between">
      <div class="display-4 mb-3">Top 30 Questions</div>
      <div>
        <template>
          <div class="overflow-auto">
            <b-pagination-nav
              :link-gen="linkGen"
              :number-of-pages="10"
              use-router
            ></b-pagination-nav>
          </div>
        </template>
      </div>
    </div>
    <b-container fluid>
      <b-row
        v-for="(item, indexItem) in res"
        :key="indexItem"
        align-h="between"
        class="mb-3 p-2"
      >
        <b-col cols="1" class="stats" align-v="center" align-h="center">
          <div class="title">{{ item.score }}</div>
          <div class="subtitle">Score</div>
        </b-col>
        <b-col class="stats" cols="1">
          <div class="title">{{ item.answer_count }}</div>
          <div class="subtitle">Answers</div>
        </b-col>
        <b-col class="stats" cols="1">
          <div class="title">{{ item.view_count }}</div>
          <div class="subtitle">Views</div>
        </b-col>
        <b-col cols="8">
          <nuxt-link :to="'answers/' + item.question_id">
            <b-row class="ques-title"> {{ item.title }} </b-row>
          </nuxt-link>
          <b-row>
            <div
              class="tag mr-3 mt-1 px-3 py-1"
              v-for="(tag, indexTag) in res[indexItem].tags"
              :key="indexTag"
            >
              {{ tag }}
            </div>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data: function() {
    return {
      res: []
    };
  },
  methods: {
    linkGen(pageNum) {
      return pageNum === 1 ? "?" : `?page=${pageNum}`;
    }
  },
  beforeCreate: function() {
    let temp = this;
    axios
      .get(
        "https://api.stackexchange.com/2.2/questions?page=1&pagesize=30&order=desc&sort=activity&site=stackoverflow"
      )
      .then(function(response) {
        temp.res = response.data.items;
      })
      .catch(function(err) {
        console.log(err);
      });
  }
};
</script>

<style scoped>
.stats {
  text-align: center;
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #abc4ff;
  /* border-radius: 10px;
  background: #edf2fb;
  box-shadow: 5px 5px 10px #b2b6bc, -5px -5px 10px #ffffff; */
}
.stats .title {
  font-size: x-large;
}
.stats .subtitle {
  font-size: small;
}
.ques-title {
  color: #000000;
  font-size: 22px;
  font-weight: 300;
  transition: transform 0.2s;
}
.ques-title:hover {
  transform: translateY(-4px);
}
.tag {
  font-size: small;
  width: fit-content;
  border: 1px solid #f3722c;
  border-radius: 10px;
  color: #f3722c;
}
.tag:hover {
  color: #ffffff;
  background-color: #f3722c;
}
</style>
