<template>
  <div>
    <div>
      <b-navbar toggleable="lg" type="dark" variant="info">
        <nuxt-link to="/">
          <b-navbar-brand>Dr.16 11</b-navbar-brand>
        </nuxt-link>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <!-- <b-navbar-nav>
            <b-nav-item href="#">Link</b-nav-item>
            <b-nav-item href="#" disabled>Disabled</b-nav-item>
          </b-navbar-nav> -->

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-form>
              <b-form-input
                size="sm"
                class="mr-sm-2"
                placeholder="Search"
              ></b-form-input>
              <b-button size="sm" class="my-2 my-sm-0" type="submit"
                >Search</b-button
              >
            </b-nav-form>

            <b-nav-item-dropdown text="Lang" right>
              <b-dropdown-item href="#">EN</b-dropdown-item>
              <b-dropdown-item href="#">ES</b-dropdown-item>
              <b-dropdown-item href="#">RU</b-dropdown-item>
              <b-dropdown-item href="#">FA</b-dropdown-item>
            </b-nav-item-dropdown>

            <b-nav-item-dropdown right>
              <!-- Using 'button-content' slot -->
              <template #button-content>
                <em>User</em>
              </template>
              <b-dropdown-item href="#">Profile</b-dropdown-item>
              <b-dropdown-item href="#">Sign Out</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <b-container fluid class="mx-5">
      <div class="ques">{{ res.title }}</div>
      <nuxt-link id="go-home" to="/" class=""
        ><b-button variant="outline-primary"
          >Back to Home ...</b-button
        ></nuxt-link
      >
    </b-container>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data: function() {
    return {
      res: ""
    };
  },
  beforeCreate: function() {
    let temp = this;
    axios
      .get(
        "https://api.stackexchange.com/2.2/questions/58283532?order=desc&sort=activity&site=stackoverflow"
      )
      .then(function(response) {
        console.log(response.data.items[0]);
        temp.res = response.data.items[0];
      })
      .catch(function(err) {
        console.log(err);
      });
  }
};
</script>

<style scoped>
#go-home {
  position: fixed;
  bottom: 5%;
  right: 2%;
  transition: transform 0.4s;
}
#go-home:hover {
  transform: translateY(-5px);
}
.ques {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 30px;
  color: #35495e;
  letter-spacing: 1px;
}
</style>
